target
Cargo.lock

__pycache__
.py[cod]
$py.class
.so
.Python
build
develop-eggs
dist
downloads
eggs
.eggs

.maturin

# Virtual environments
venv
ENV
env
.venv

# Testing
.coverage
.pytest_cache
.hypothesis
htmlcov
.tox
.nox

# Documentation
docs_build
site

# Benchmarking
criterion
perf.data
perf.data.old
flamegraph.svg
